<h3><a class="btn list" href="/movie"> New Movie </a> Movie List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Categorie</th>
            <th>Actor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullTitle}}</td>
            <td>{{this.director}}</td>
            <td>{{this.categorie}}</td>
            <td>{{this.actor}}</td>
            <td>
                <a href="/movie/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/movie/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this Movie ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>